* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

    button {
        padding: 15px 30px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }

        &:active {
            transform: scale(0.98);
            transition: all 0.1s ease-in-out;
        }
    }
}