*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
}
@mixin center-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
main{
 height: 100%;
 width: 100%;
 background-color: #222831;
 #box{
    height: 40%;
    width: 100%;
    background-color: #333;
    @include center-flex;
    flex-wrap: wrap;
    margin-left: .5rem;
    .hel{
        height: 90%;
        width: 8%;
        margin: .5rem;
        background-color: #999;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
       
        button{
            height: 100%;
            width: 100%;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            color: #fff;
            cursor: pointer;
            &:active{
                // background-color: rgba(255, 0, 0,);
            }
        }
    }
}
};